.container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel > div {
  min-width: 10%;
  box-sizing: border-box;
}